/***********************TAG SELECTORS*************************/
html {
  background-color: antiquewhite;
}

body {
  font-family: 'Karla', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 8%
}

h1, h2 {
  color: #36622b;
  font-family: 'Libre Baskerville', serif;
}

h3 {
  color: #36622b;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

/***********************CLASS SELECTORS*************************/
.Exp-container {
  margin: 50px;
}

.Segment {
  color: #36622b;
}

.centerized {
  margin-left: auto;
  margin-right: auto;
}

.Txt-Bold {
  font-weight: bold;
}

.Txt-Italic {
  font-style: Italic;
}

.profile-image {
  border-radius: 100%;
}

.ContactInfo {
  text-align: right;
}

.NameSection {
  padding: 5% 7%;
}

.Header {
  color: #36622b;
}

.social-icon {
  margin: 7px 49px;
}

.navbar-feature {
  padding: 0 12%;
  background-color: #ebfffb;
}

.icon {
  color: #36622b;
}

/***********************ID SELECTORS*************************/
#NameTitle {
  background-color: #fff;
  padding: 0.5% 7% 0.5% 7%;
}

#Summary {
  padding: 1% 7% 1% 7%;
}

#Skills {
  background-color: #fff;
  padding:2% 7% 2% 7%;
}

#Experience {
  background-color: #fff;
  padding: 2% 7% 2% 7%;
}

#Education {
  background-color: #fff;
  padding: 1% 8%;
}

#Footer {
  background-color: #ebfffb;
  text-align: center;
}

/***********************Media Section*************************/

@media (max-width: 1130px) {
  h1 {
    font-size: 63px;
  }

  h2 {
    font-size: 56px;
  }

  h3 {
    font-size: 49px;
  }

  h4 {
    font-size: 49px;
  }

  body {
    font-size: 49px;
  }
}
