/***********************TAG SELECTORS*************************/
body {
  background-color: #ebfffb;
  font-family: 'Istok Web', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 8%
}

h1, h2 {
  color: #36622b;
  font-family: 'Libre Baskerville', serif;
}

h3 {
  color: #36622b;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

/***********************CLASS SELECTORS*************************/
.Exp-container {
  margin: 50px;
}

.Segment {
  color: #36622b;
}

.centerized {
  margin-left: auto;
  margin-right: auto;
}

.Txt-Bold {
  font-weight: bold;
}

.Txt-Italic {
  font-style: Italic;
}

.profile-image {
  border-radius: 100%;
}

.ContactInfo {
  text-align: right;
}
.NameSection {
  padding: 5% 7%;
}

/***********************ID SELECTORS*************************/
.Header {
  color: #36622b;
}

@media (max-width: 1125px) {
  h1 {
    font-size: 63px;
  }

  h2 {
    font-size: 49px;
  }

  h3 {
    font-size: 35px;
  }

  body {
    font-size: 27px;
  }
}
